<header class="MuiPaper-root MuiPaper-elevation MuiPaper-elevation4 MuiAppBar-root MuiAppBar-colorDefault
    MuiAppBar-positionStatic css-12upb36">
    <div class="MuiContainer-root MuiContainer-maxWidthMd MuiContainer-disableGutters css-18rmlqv">
        <div class="MuiToolbar-root MuiToolbar-regular css-1szvam0"><a
                class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1dtb50s"
                aria-label="Home" href="/">Yulia's Fitness App</a>
            <div class="MuiBox-root css-1ilyui9"></div>
            <div class="MuiBox-root css-70qvj9"><span
                    class="MuiTypography-root MuiTypography-caption css-vyf9q6">Hi, <a
                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-17z4o4n"
                        href="/profile/{{ user.id }}">{{ user }}</a></span>
                    <form method="post" action="/profile">
                        <button type="submit" name="logout">Log Out</button>
                    </form>
            </div>
        </div>
    </div>
    <div class="MuiToolbar-root MuiToolbar-regular css-eg6my0">
        <div class="MuiContainer-root MuiContainer-maxWidthMd MuiContainer-disableGutters css-18rmlqv">
            <div class="MuiGrid-root MuiGrid-container css-1d3bbye">
                <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone {% if current_url == '/profile' %}css-10z0jsg{% else %}css-1i8enoe{% endif %}"
                        href="/profile">My Home</a></div>
                <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone {% if current_url == '/food/diary' %}css-10z0jsg{% else %}css-1i8enoe{% endif %}"
                        href="/food/diary">Food</a></div>
                <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone {% if current_url == '/' %}css-10z0jsg{% else %}css-1i8enoe{% endif %}"
                        href="/en/exercise/diary">Exercise</a></div>
                <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1i8enoe"
                        href="/en/reports">Reports</a></div>
                <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1i8enoe"
                        href="/en/apps/logged_in_index">Apps</a></div>
                <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone {% if current_url == '/photos/edit' %}css-10z0jsg{% else %}css-1i8enoe{% endif %}"
                        href="https://community.myfitnesspal.com/en/entry/jsconnect?client_id=1122755462&amp;Target=%2Fcategories">Community</a>
                </div>
                <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1i8enoe"
                        href="https://blog.myfitnesspal.com/">Blog</a></div>
                <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1i8enoe"
                        href="/premium?source=menu_bar">Premium</a></div>
            </div>
        </div>
    </div>
    <div class="MuiToolbar-root MuiToolbar-gutters MuiToolbar-regular css-uom0n6">
        <div class="MuiContainer-root MuiContainer-maxWidthMd MuiContainer-disableGutters css-18rmlqv">
            <div class="MuiGrid-root MuiGrid-container css-1d3bbye">
                <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1sw7z84"
                        data-testid="" href="/">Home</a></div>
                <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1ncw7et"
                        data-testid="" href="/account/my-goals">Goals</a></div>
                <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1ncw7et"
                        data-testid="" href="/measurements/check-in">Check-In</a></div>
                <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1ncw7et"
                        href="/messages" data-testid="mail-Link">Mail</a></div>
                <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1ncw7et"
                        data-testid="" href="/profile/yuliyasukach123">Profile</a></div>
                <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1ncw7et"
                        data-testid="" href="/friends">Friends</a></div>
                <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                        class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1ncw7et"
                        data-testid="" href="/account/settings">Settings</a></div>
            </div>
        </div>
    </div>
</header>