{% extends 'base.html' %}
{% block add_meal %}
    <header
        class="MuiPaper-root MuiPaper-elevation MuiPaper-elevation4 MuiAppBar-root MuiAppBar-colorDefault MuiAppBar-positionStatic css-12upb36">
        {% include 'toolbar.html' %}
    </header>
    <div id="wrap">
        <div id="main" style="
        padding: 20px 0 4em;
    ">
            <h1 class="main-title">Add Food To The Diary</h1><div id="searchFoodByName">
            <form class="form" action="/food/add_to_diary" accept-charset="UTF-8" method="post">
                <input type="hidden" name="authenticity_token" value="BiY0zjO6TF8WsJMaRAytIk4ytTwTcktsUejgmX53fn91kkdPIWe1vXkGEprOXS2zdhfkQIZQwOM33dMWN1mQsA==" autocomplete="off" style="
            font-size: 1em;
            line-height: normal;
            width: auto;
            vertical-align: middle;
        ">
                <h3 class="secondary-title" style="
            color: #444444;
            display: block;
            position: relative;
            text-align: left;
        ">Search our food database by name
                    <a href="/food/quick_add?date=2023-04-25&amp;meal=0">
                    Quick add calories
                    </a>
                </h3>
                <p class="fields" style="
            padding: 0;
        ">
                    <input type="hidden" name="meal" value="0">
                    <input type="hidden" name="date" value="2023-04-25">
                    <input type="text" name="search" id="search" autocomplete="off" class="text" style="
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px;
            width: 440px;
            display: inline-block;
        ">
                    <input type="submit" class="button" value="Search" style="
        ">
                 </p>
            </form>
          </div>
        </div>
    </div>
{% endblock add_meal %}