{% extends 'base.html' %}
{% block add_meal %}
    <header
        class="MuiPaper-root MuiPaper-elevation MuiPaper-elevation4 MuiAppBar-root MuiAppBar-colorDefault MuiAppBar-positionStatic css-12upb36">
        <div class="MuiContainer-root MuiContainer-maxWidthMd MuiContainer-disableGutters css-18rmlqv">
            <div class="MuiToolbar-root MuiToolbar-regular css-1szvam0"><a
                    class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1dtb50s"
                    aria-label="Home" href="/">Yulia's Fitness App</a>
                <div class="MuiBox-root css-1ilyui9"></div>
                <div class="MuiBox-root css-70qvj9"><span
                        class="MuiTypography-root MuiTypography-caption css-vyf9q6">Hi, <a
                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-17z4o4n"
                            href="/profile/{{ user.id }}">{{ user }}</a></span>
                <form method="post" action="/profile">
                            <button type="submit" name="logout">Log Out</button>
                        </form>
                </div>
            </div>
        </div>
        <div class="MuiToolbar-root MuiToolbar-regular css-eg6my0">
            <div class="MuiContainer-root MuiContainer-maxWidthMd MuiContainer-disableGutters css-18rmlqv">
                <div class="MuiGrid-root MuiGrid-container css-1d3bbye">
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-10z0jsg"
                            href="/profile">My Home</a></div>
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1i8enoe"
                            href="/food/diary">Food</a></div>
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1i8enoe"
                            href="/en/exercise/diary">Exercise</a></div>
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1i8enoe"
                            href="/en/reports">Reports</a></div>
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1i8enoe"
                            href="/en/apps/logged_in_index">Apps</a></div>
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1i8enoe"
                            href="https://community.myfitnesspal.com/en/entry/jsconnect?client_id=1122755462&amp;Target=%2Fcategories">Community</a>
                    </div>
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1i8enoe"
                            href="https://blog.myfitnesspal.com/">Blog</a></div>
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1i8enoe"
                            href="/premium?source=menu_bar">Premium</a></div>
                </div>
            </div>
        </div>
        <div class="MuiToolbar-root MuiToolbar-gutters MuiToolbar-regular css-uom0n6">
            <div class="MuiContainer-root MuiContainer-maxWidthMd MuiContainer-disableGutters css-18rmlqv">
                <div class="MuiGrid-root MuiGrid-container css-1d3bbye">
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1sw7z84"
                            data-testid="" href="/">Home</a></div>
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1ncw7et"
                            data-testid="" href="/account/my-goals">Goals</a></div>
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1ncw7et"
                            data-testid="" href="/measurements/check-in">Check-In</a></div>
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1ncw7et"
                            href="/messages" data-testid="mail-Link">Mail</a></div>
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1ncw7et"
                            data-testid="" href="/profile/yuliyasukach123">Profile</a></div>
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1ncw7et"
                            data-testid="" href="/friends">Friends</a></div>
                    <div class="MuiGrid-root MuiGrid-item css-1wxaqej"><a
                            class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineNone css-1ncw7et"
                            data-testid="" href="/account/settings">Settings</a></div>
                </div>
            </div>
        </div>
    </header>
    <div id="wrap">
        <div id="main" style="
        padding: 20px 0 4em;
    ">
            <h1 class="main-title">Add Food To The Diary</h1><div id="searchFoodByName">
            <form class="form" action="/food/add_to_diary" accept-charset="UTF-8" method="post">
                <input type="hidden" name="authenticity_token" value="BiY0zjO6TF8WsJMaRAytIk4ytTwTcktsUejgmX53fn91kkdPIWe1vXkGEprOXS2zdhfkQIZQwOM33dMWN1mQsA==" autocomplete="off" style="
            font-size: 1em;
            line-height: normal;
            width: auto;
            vertical-align: middle;
        ">
                <h3 class="secondary-title" style="
            color: #444444;
            display: block;
            position: relative;
            text-align: left;
        ">Search our food database by name
                    <a href="/food/quick_add?date=2023-04-25&amp;meal=0">
                    Quick add calories
                    </a>
                </h3>
                <p class="fields" style="
            padding: 0;
        ">
                    <input type="hidden" name="meal" value="0">
                    <input type="hidden" name="date" value="2023-04-25">
                    <input type="text" name="search" id="search" autocomplete="off" class="text" style="
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px;
            width: 440px;
            display: inline-block;
        ">
                    <input type="submit" class="button" value="Search" style="
        ">
                 </p>
            </form>
          </div>
        </div>
    </div>
{% endblock add_meal %}